@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #029ee6;
    --first-color-light: #ade0f8;
    --second-color: #ec670d;
    --second-color-light: #ffab72;
    --white-color: #ffffff;
    --black-color: #151515;
    --off-white: #f8f7f7;
    --gray-color: #e9e6e6;
    --body-font: "Roboto", sans-serif;
    --normal-font-size: 14px;
    --z-fixed: 100;
    --box-shadow-black: 0 0 0 0.1rem rgba(46, 47, 48, 0.25);
    --box-shadow-brown: 0 0 0 0.1rem rgba(163, 69, 69, 0.25);
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size);
    transition: 0.5s;
    overflow-x: hidden;
}

.body{
    margin: var(--header-height) 0 0 0;
}

.body main{
    min-height: 70vh;
    overflow: hidden;
    padding: 25px 0 0 1rem;
    width: 100%;
    margin-left: -10px;
    margin-bottom: 50px;
}

.form-control {
    height: 50px;
    font-size: 14px;
    background: var(--off-white);
}

.form-control:focus {
    color: #495057;
    background-color: #efefef;
    border-color: #151515;
    outline: 0;
    box-shadow: var(--box-shadow-black);
}

.form-label{
    color: var(--second-color);
    font-weight: 400;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: var(--box-shadow-black);
}

td:not(.action-btn) {
    padding-top: .7rem !important;
}

.input-label {
    font-size: 14px;
    font-weight: 500;
}

.login-btn {
    height: 50px;
    border-radius: 5px !important;
    background: var(--first-color-light) !important;
}

.login-btn:hover {
    background: var(--first-color) !important;
    color: var(--off-white) !important;
}

.login-logo {
    height: 120px;
    top: 0;
    margin-left: 5px;
    margin-top: 35px;
    transform: translateX(19rem);
}

.kdis-logo{
    height: 50px;
}

a {
    text-decoration: none;
}

p{
    margin-bottom: 0 !important;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}
.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.header_img img {
    width: 40px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--white-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.nav_logo-name {
    color: var(--first-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--black-color);
    margin-top: 1.5rem;
    transition: 0.3s;
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_list{
    max-width: 224px;
}

.has-dropdown .nav_link.show, .has-dropdown .nav_link.active{
    margin-bottom: 0 !important;
}

.nav_link.show::before{
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--first-color);
}

.has-dropdown .dropdown{
    background: var(--off-white);
    padding: 10px 0;
    border-left: 2px solid var(--first-color);
    display: none;
}

.has-dropdown .dropdown.open{
    display: block;
}

.has-dropdown .dropdown-link{
    display: block;
    width: 100%;
    padding: .5rem 4rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.has-dropdown .dropdown-link.active{
    background-color: var(--first-color);
    color: var(--white-color);
}

.has-dropdown .dropdown-link::before {
    content: "";
    width: 10px;
    background: var(--black-color);
    height: 2px;
    position: absolute;
    left: 0;
    margin-left: 29px;
    margin-top: 10px;
}

.has-dropdown .dropdown-link.active::before{
    background: var(--white-color);
}

.has-dropdown .nav_link:after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid var(--gray-color);
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
    transition: 0.1s linear;
}

.has-dropdown .nav_link.show:after{
    right: 20px;
    transform: rotate(180deg);
}

.has-dropdown .dropdown-link:hover{
    background-color: var(--gray-color);
    color: var(--black-color);
}

.nav_icon {
    font-size: 1.25rem;
}

.sidebar-show {
    left: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

.active {
    color: var(--first-color);
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--first-color);
}

.height-100 {
    height: 100vh;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
}

.text-kdis-2{
    color: var(--second-color);
}

.text-kdis{
    color: var(--first-color);
}

.subheader{
    font-weight: 500;
    font-size: 14px;
}

.card-title{
    font-size: 16px !important;
    font-weight:500 !important;
}

.btn-first{
    height: 50px;
    border-radius: 5px !important;
    background: var(--first-color-light) !important;
}

.btn-first:hover {
    background: var(--first-color) !important;
    color: var(--off-white) !important;
}

.btn-second{
    height: 50px;
    border-radius: 5px !important;
    background: var(--second-color-light) !important;
}

.btn-second:hover {
    background: var(--second-color) !important;
    color: var(--off-white) !important;
}

.btn-kdis{
    color: #fff;
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.btn-kdis:hover{
    color: #fff;
    background-color: var(--first-color-light);
    border-color: var(--first-color-light);
}

.alert-kdis {
    width: max-content;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-right: 20px;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.permission-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
    /* height: unset !important; */
}

#permission_body:before{
    display:none !important;
}

#permission_list:before{
    display:none !important;
}

.masonry-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }

  .masonry-item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 16px;
    border-radius: 8px;
  }

@media screen and (min-width: 768px) {
    .body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img {
        width: 40px;
        height: 40px;
    }
    .header_img img {
        width: 45px;
    }
    .sidebar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .sidebar-show {
        width: calc(var(--nav-width) + 156px);
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 175px);
    }
}
